{% extends 'base.html.twig' %}

{% block title %}Modification de l'avatar{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Modification de l'avatar de {{ app.user.fullName }}</h1>
        {% if app.user.picture %}
            <img src="/uploads/{{ app.user.picture }}" alt="Avatar de {{ app.user.fullName }}" class="avatar mb-3 my-2">
        {% else %}
            <img src="https://ui-avatars.com/api/?name={{ app.user.firstName }}+{{ app.user.lastName }}" alt="Avatar de {{ app.user.fullName }}" class="avatar mb-3 my-2">
        {% endif %}
        {{ form_start(myForm) }}
        {{ form_widget(myForm) }}
        <button type="submit" class="btn btn-warning">Enregistrer</button>
        <a href="{{ path('account_index') }}" class="btn btn-primary">Retour</a>
        {{ form_end(myForm) }}
    </div>
{% endblock %}